# Backend
DATABASE_URL=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-embedding-001
OUTPUT_DIMENSIONALITY=1536

# Frontend
VITE_API_BASE_URL=https://uwcm47qhotnqeib2thiwruh3va0dlgvc.lambda-url.us-east-1.on.aws
