# Neon connection string (postgresql://user:pass@ep-xxx.region.neon.tech/neondb?sslmode=require)
DATABASE_URL=

# Google Gemini API key (https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=

# Log level (trace|debug|info|warn|error|fatal)
LOG_LEVEL=info

# Node env (development|production)
NODE_ENV=development
